
<div class="container">
<div >
  <%= form_for(:product, url: {:action => "create"}, :class => "form-horizontal")  do |f| %>
  
      <%= f.text_field "url",  {:class => "input-xxlarge", :placeholder => "Product URL"} %>
      <%= submit_tag "Track", class: "btn btn-primary" %>
  <% end %>
</div>
<div>

<div class="product list">
  <div><%= pluralize(@products.size, "product") %> found</div>
    <table class="table table-striped table-hover" summary="product list">
      <tr class="header">
        <th>Product</th>
        <th>Current Price</th>
        <th>Lowest Price</th>
      </tr>
      <% @products.each do |p| %>
      <tr class="<%= cycle('odd', 'even')%>">
        <td><%= p.url %></td>
        <td><%= number_to_currency(p.current_price) %></td>
        <td><%= number_to_currency(p.lowest_price) %></td>
      </tr>
      <% end %>
    </table>
</div>